{% extends "billjobs/base.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <h2 class="title is-3">Statistiques de Cowork'in Montpellier</h2>

  </div>
  </section>

<section class="section">
  <div class="container">
    <div class="columns">


<div class="column">
  <p class="title is-4">Chiffre d'affaire {{ current_month_name }} {{ current_year }}</p>
  <p class="subtitle is-4" style="background-color: hsla(204, 86%, 53%, 0.25); line-height: 200px; height: 200px; width: 200px; border-radius: 100%; text-align: center; border: 3px dotted black">{{ current_month_revenue}} €</p>
</div>
<div class="column">
  <p class="title is-4">Chiffre d'affaire {{ previous_month_name }} {{ current_year }}</p>
  <p class="subtitle is-4" style="background-color: hsla(204, 86%, 53%, 0.5); line-height: 200px; height: 200px; width: 200px; border-radius: 100%; text-align: center; border: 3px solid black">{{ previous_month_revenue}} €</p>
</div>
</div>
  </div>
  </section>
<section class="section">
  <div class="container">
          <table class="table is-striped is-fullwidth">
            <tr>
              <th class="is-info">Chiffre d'affaire {{ current_month_name }} {{ current_year }}</th>
              <th class="is-info">Chiffre d'affaire {{ previous_month_name }} {{ current_year }}</th>
            </tr>
            <tr>
              <td>{{ current_month_revenue}} €</td>
              <td>{{ previous_month_revenue}} €</td>
            </tr>
          </table>
      </div>
      </section>

      <section class="section">
        <div class="container">

          <table class="table is-striped is-fullwidth">
         <p class="title is-4">Chiffre d'affaire annuel</p>

         <tr>
             <th class="is-info">Année</th>
             <th class="is-info">Janvier</th>
             <th class="is-info">Février</th>
             <th class="is-info">Mars</th>
             <th class="is-info">Avril</th>
             <th class="is-info">Mai</th>
             <th class="is-info">Juin</th>
             <th class="is-info">Juillet</th>
             <th class="is-info">Août</th>
             <th class="is-info">Septembre</th>
             <th class="is-info">Octobre</th>
             <th class="is-info">Novembre</th>
             <th class="is-info">Décembre</th>
             <th class="is-danger">Total</th>
         </tr>
         <tr>
             <td>{{ current_year}}</td>
             <td>{{ current_january_revenue }}</td>
             <td>{{ current_february_revenue }}</td>
             <td>{{ current_march_revenue }}</td>
             <td>{{ current_april_revenue }}</td>
             <td>{{ current_may_revenue }}</td>
             <td>{{ current_june_revenue }}</td>
             <td>{{ current_july_revenue }}</td>
             <td>{{ current_august_revenue }}</td>
             <td>{{ current_september_revenue }}</td>
             <td>{{ current_october_revenue }}</td>
             <td>{{ current_november_revenue }}</td>
             <td>{{ current_december_revenue }}</td>
             <td>{{ current_year_revenue }}<span class="icon has-text-info"
               style="border: 1px solid hsl(204, 86%, 53%); border-radius: 100%"
               title="Estimation du CA annuel : somme des mois finis divisée
               par le nombre de mois multipliés par 12.">
        i
      </span></td>
         </tr>
         <tr>
             <td>{{ previous_year }}</td>
             <td>{{ previous_january_revenue }}</td>
             <td>{{ previous_february_revenue }}</td>
             <td>{{ previous_march_revenue }}</td>
             <td>{{ previous_april_revenue }}</td>
             <td>{{ previous_may_revenue }}</td>
             <td>{{ previous_june_revenue }}</td>
             <td>{{ previous_july_revenue }}</td>
             <td>{{ previous_august_revenue }}</td>
             <td>{{ previous_september_revenue }}</td>
             <td>{{ previous_october_revenue }}</td>
             <td>{{ previous_november_revenue }}</td>
             <td>{{ previous_december_revenue }}</td>
             <td>{{ previous_year_revenue }}</td>
         </tr>
      </table>
    </div>
    </section>

    <section class="section">
      <div class="container">

    </table>

    
    <table class="table is-striped is-fullwidth">
    <p class="title is-4">Abonnements / Services {{ current_year}}</p>

    <tr>
       <th class="is-info"></th>
       <th class="is-info">Janvier</th>
       <th class="is-info">Février</th>
       <th class="is-info">Mars</th>
       <th class="is-info">Avril</th>
       <th class="is-info">Mai</th>
       <th class="is-info">Juin</th>
       <th class="is-info">Juillet</th>
       <th class="is-info">Août</th>
       <th class="is-info">Septembre</th>
       <th class="is-info">Octobre</th>
       <th class="is-info">Novembre</th>
       <th class="is-info">Décembre</th>
       <th class="is-danger">Total</th>
    </tr>
    <tr>
       <td>Full Time</td>
       <td>{{ current_january_subscriptions_1 }}</td>
       <td>{{ current_february_subscriptions_1 }}</td>
       <td>{{ current_march_subscriptions_1 }}</td>
       <td>{{ current_april_subscriptions_1 }}</td>
       <td>{{ current_may_subscriptions_1 }}</td>
       <td>{{ current_june_subscriptions_1 }}</td>
       <td>{{ current_july_subscriptions_1 }}</td>
       <td>{{ current_august_subscriptions_1 }}</td>
       <td>{{ current_september_subscriptions_1 }}</td>
       <td>{{ current_october_subscriptions_1 }}</td>
       <td>{{ current_november_subscriptions_1 }}</td>
       <td>{{ current_december_subscriptions_1 }}</td>
       <td>{{ current_year_subscriptions_1 }}</td>
    </tr>
    <tr>
       <td>Mid Time</td>
       <td>{{ current_january_subscriptions_2 }}</td>
       <td>{{ current_february_subscriptions_2 }}</td>
       <td>{{ current_march_subscriptions_2 }}</td>
       <td>{{ current_april_subscriptions_2 }}</td>
       <td>{{ current_may_subscriptions_2 }}</td>
       <td>{{ current_june_subscriptions_2 }}</td>
       <td>{{ current_july_subscriptions_2 }}</td>
       <td>{{ current_august_subscriptions_2 }}</td>
       <td>{{ current_september_subscriptions_2 }}</td>
       <td>{{ current_october_subscriptions_2 }}</td>
       <td>{{ current_november_subscriptions_2 }}</td>
       <td>{{ current_december_subscriptions_2 }}</td>
       <td>{{ current_year_subscriptions_2 }}</td>
    </tr>
    <tr>
       <td>Meeting 1 day</td>
       <td>{{ current_january_subscriptions_3 }}</td>
       <td>{{ current_february_subscriptions_3 }}</td>
       <td>{{ current_march_subscriptions_3 }}</td>
       <td>{{ current_april_subscriptions_3 }}</td>
       <td>{{ current_may_subscriptions_3 }}</td>
       <td>{{ current_june_subscriptions_3 }}</td>
       <td>{{ current_july_subscriptions_3 }}</td>
       <td>{{ current_august_subscriptions_3 }}</td>
       <td>{{ current_september_subscriptions_3 }}</td>
       <td>{{ current_october_subscriptions_3 }}</td>
       <td>{{ current_november_subscriptions_3 }}</td>
       <td>{{ current_december_subscriptions_3 }}</td>
       <td>{{ current_year_subscriptions_3 }}</td>
    </tr>


    </table>



    </div>
    </section>


  <section class="section">
    <div class="container">

  </table>
  <table class="table is-striped is-fullwidth">
  <p class="title is-4">Abonnements / Services {{ previous_year}}</p>

  <tr>
     <th class="is-info"></th>
     <th class="is-info">Janvier</th>
     <th class="is-info">Février</th>
     <th class="is-info">Mars</th>
     <th class="is-info">Avril</th>
     <th class="is-info">Mai</th>
     <th class="is-info">Juin</th>
     <th class="is-info">Juillet</th>
     <th class="is-info">Août</th>
     <th class="is-info">Septembre</th>
     <th class="is-info">Octobre</th>
     <th class="is-info">Novembre</th>
     <th class="is-info">Décembre</th>
     <th class="is-danger">Total</th>
  </tr>
  <tr>
     <td>Full Time</td>
     <td>{{ previous_january_subscriptions_1 }}</td>
     <td>{{ previous_february_subscriptions_1 }}</td>
     <td>{{ previous_march_subscriptions_1 }}</td>
     <td>{{ previous_april_subscriptions_1 }}</td>
     <td>{{ previous_may_subscriptions_1 }}</td>
     <td>{{ previous_june_subscriptions_1 }}</td>
     <td>{{ previous_july_subscriptions_1 }}</td>
     <td>{{ previous_august_subscriptions_1 }}</td>
     <td>{{ previous_september_subscriptions_1 }}</td>
     <td>{{ previous_october_subscriptions_1 }}</td>
     <td>{{ previous_november_subscriptions_1 }}</td>
     <td>{{ previous_december_subscriptions_1 }}</td>
     <td>{{ previous_year_subscriptions_1 }}</td>
  </tr>
  <tr>
     <td>Mid Time</td>
     <td>{{ previous_january_subscriptions_2 }}</td>
     <td>{{ previous_february_subscriptions_2 }}</td>
     <td>{{ previous_march_subscriptions_2 }}</td>
     <td>{{ previous_april_subscriptions_2 }}</td>
     <td>{{ previous_may_subscriptions_2 }}</td>
     <td>{{ previous_june_subscriptions_2 }}</td>
     <td>{{ previous_july_subscriptions_2 }}</td>
     <td>{{ previous_august_subscriptions_2 }}</td>
     <td>{{ previous_september_subscriptions_2 }}</td>
     <td>{{ previous_october_subscriptions_2 }}</td>
     <td>{{ previous_november_subscriptions_2 }}</td>
     <td>{{ previous_december_subscriptions_2 }}</td>
     <td>{{ previous_year_subscriptions_2 }}</td>
  </tr>
  <tr>
     <td>Meeting 1 day</td>
     <td>{{ previous_january_subscriptions_3 }}</td>
     <td>{{ previous_february_subscriptions_3 }}</td>
     <td>{{ previous_march_subscriptions_3 }}</td>
     <td>{{ previous_april_subscriptions_3 }}</td>
     <td>{{ previous_may_subscriptions_3 }}</td>
     <td>{{ previous_june_subscriptions_3 }}</td>
     <td>{{ previous_july_subscriptions_3 }}</td>
     <td>{{ previous_august_subscriptions_3 }}</td>
     <td>{{ previous_september_subscriptions_3 }}</td>
     <td>{{ previous_october_subscriptions_3 }}</td>
     <td>{{ previous_november_subscriptions_3 }}</td>
     <td>{{ previous_december_subscriptions_3 }}</td>
     <td>{{ previous_year_subscriptions_3 }}</td>
  </tr>


  </table>



  </div>
  </section>

{% endblock body %}
