Django==1.11.6
djangorestframework==3.7.1
reportlab==3.4.0
pip-tools==1.10.1
pip-review==1.0
PyYAML==3.12
setuptools==36.6.0
django-debug-toolbar==1.8
twine==1.9.1
Sphinx==1.6.5
sphinx-autobuild
sphinx_rtd_theme
six==1.11.0
coverage
