<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
<style>
    @page {
        size: a4 portrait;
        @frame header_frame{ 
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        @frame footer_frame {
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
</style>
</head>

<body>
    <div id="header_content">
        <img src="{% static 'logo-coworking.jpg' %}" />
        Facture n° : {{bill.number}}
        Date Facturation : {{bill.billing_date}}
    </div>

    <div id="footer_content">
        Association Loi 1901
    </div>
    
    <p>{{ bill.user }}</p>
</body>
</html>
